*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --footer-color: #272727;
    --sidebar-color: #000000;
    --main-color: #131821;

    --text-white: #fff;
}


                        /* debug */

.debug #main-nav{
    background-color: yellow;
    height: 50px;
}

.debug .album{
    background-color: tomato;
    height: 200px;
}
.debug .left-footer, .debug .right-footer{
    background-color: yellowgreen;
    width: 280px;
}

.debug .center-footer{
    background-color: gold;
    width: 100%;
}

.debug #small-app-icon .icon{
    width: 100%;
    height: 20px;
    margin: 10px 0;
    background-color: deeppink;
}

.debug #big-app-icon .icon{
    width: 100%;
    height: 20px;
    margin: 10px 0;
    background-color: moccasin;
}

.debug #sidebar-bottom{
    background-color: aqua;
}

                        /* utility */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.list-no-decoration{
    list-style: none;
}

.text-white{
    color: var(--text-white);
}





                        /* regole css */
main{
    height: calc(100vh - 100px);
    overflow: hidden;    
}

#cta{
    position: fixed;
    height: 100px;
    width: calc(100% - 50px);
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: var(--text-white);
}


                /* sidebar */


#sidebar{
    width: 50px;
    background-color: var(--sidebar-color);
    min-height: 500px;
}

#sidebar-top{
    height: calc(100% - 80px);
}

#sidebar-bottom{
    height: 80px;
}

#big-app-icon, #playlist-nav{
    display: none;
}


#main-container{
    width: calc(100% - 50px);
    background-color: var(--main-color);
    padding-top:100px;
    overflow-y: scroll;
    
}


                /* main sections */

.box-albums{
    padding: 20px;
    width: 50%;
}


                /* footer */

footer{
    height: 100px;
    background-color: var(--footer-color);
}
















                         /* media query */

@media screen and (min-width: 576px) {
    #sidebar{
        width: 200px;
    }
    
    #playlist-nav ul{
        overflow-y: scroll;
    }
    
    #playlist-nav, #sidebar-top{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #main-container{
        width: calc(100% - 200px);
    }
    
    #cta{
        width: calc(100% - 200px);
    }

    #small-app-icon{
        display: none;
    }

    #big-app-icon{
        display: block;
    }
}


@media screen and (min-width: 768px) {
    .box-albums{
        width: 25%;
    }


}


@media screen and (min-width: 992px) {
    .box-albums{
        width: calc(100% / 6);
    }
}


@media screen and (min-width: 1200px) {
    
}