*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --footer-color: #272727;
    --sidebar-color: #000000;
    --main-color: #131821;

    --text-white: #fff;
    --profile-background: #737373;

    --icon-color: #d1d1d1;
    --icon-text-color: #777777;

    --media-bar-color: #595959;
}

                        /* utility */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.list-no-decoration{
    list-style: none;
}

.text-white{
    color: var(--text-white);
}

.green-border-left{
    border-left: 3px solid greenyellow;
}

.green-border-bottom:before {
    content: '';
    height: 3px;
    background-color: greenyellow;
    width: 45px;
    position: absolute;
    left: 20px;
    top: 25px;
}

                        /* regole css */

html{
    font-family: 'Montserrat', sans-serif;
}

main{
    height: calc(100vh - 100px);
    overflow: hidden;    
}

body{
    min-width: 550px;
}

#cta{
    position: fixed;
    height: 100px;
    width: calc(100% - 50px);
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: var(--text-white);
    text-align: center;
    text-align: end;
    padding: 0 10px;
}

#cta span{
    line-height: 100px;
    margin-right: 10px;
}

#cta span a:hover{
    transform: scale(1.3);
}
#cta a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 10px 40px;
    border-radius: 20px;
    transition: all 0.3s linear;

}

                /* sidebar */


#sidebar{
    width: 50px;
    background-color: var(--sidebar-color);
    min-height: 500px;
    text-align: center;
    font-weight: 600;
}

#sidebar-top{
    height: calc(100% - 63px);
}

#sidebar-bottom{
    padding-left: 15px;
}

#playlist-nav{
    display: none;
    padding-top: 15px;
    padding-left: 15px;
}

#small-app-icon ul li{
    padding-left:15px;
}

#sidebar-top a{
    text-decoration: none;
}

.big-logo{
    display: none;
    width: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.small-logo{
    padding-top:10px;
}

.icon-name{
    color: var(--icon-text-color);
    display: none;
}

.small-icon{
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    color: var(--icon-color);
}

.add-playlist {
    margin: 10px 0;
    color: var(--icon-text-color);
}

.add-playlist span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#playlist-nav ul li{
    padding: 5px 0;
    color: var(--icon-text-color);
}

#playlist-nav .add-playlist a {
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    background-color: gray;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
}

.profile-icon{
    display: block;
    background-color: var(--profile-background);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

#sidebar-top li{
    vertical-align: middle;
    margin-bottom: 5px;
}

#sidebar-bottom hr{
    height: 1px;
    background-color: var(--icon-text-color);
    width: calc(100% - 15px);
    border: none;
    margin: 10px 0;
    display: none;
}

.id-name{
    color: white;
    font-weight: 800;
}

#main-container{
    width: calc(100% - 50px);
    background-color: var(--main-color);
    padding-top:100px;
    overflow-y: scroll;
}

#main-nav{
    padding: 20px 0;
    font-size: 14px;
    font-weight: 700;
}

#main-nav ul{
    justify-content: center;
}

#main-nav ul li {
    width: calc(100% / 4);
    text-align: center;
    padding-bottom: 20px;
}

#main-nav ul li a{
    text-decoration: none;
    color: var(--icon-text-color);
    font-size: 0.8rem;
    position: relative;
}




                /* main sections */


.box-albums{
    padding: 20px;
    width: 50%;
}

.album img{
    width: 100%;
    display: block;
}

.section-name{
    padding-left: 20px;
    color: var(--text-white);
}

.album-name {
    text-align: center;
    color: var(--text-white);
    font-size: 1rem;
    padding-top:20px
}

.subtitle {
    display: block;
    text-align: center;
    color: var(--icon-text-color);
    font-size: 0.8rem;
    padding-top: 10px;
    font-weight: 700;
}

#created-for-you {
    padding: 40px 0;
}

.suggestion-subtitle {
    color: var(--icon-text-color);
    font-size: 0.7rem;
    font-weight: 700;
    padding-left: 20px;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
}
                /* footer */

footer{
    height: 100px;
    background-color: var(--footer-color);
    justify-content: space-between;
}

.left-footer {
    align-items: center;
}

.left-footer img {
    width: 60px;
    display: inline-block;
    margin: 0 20px;
}

.left-footer div:first-of-type{
    padding-right: 50px;
}  

.left-footer.flex div{
   color: var(--icon-text-color);
}

.current-artist{
    color: var(--text-white);
}

.current-song{
    font-size: 0.7rem;
    font-weight: 700;
}

.left-footer.flex i {
    padding-right: 10px;
    font-size: 1.2rem;
 
}

.left-footer, .right-footer{
    width: 300px;
}

.center-footer{
    flex-grow: 1;
    max-width: 500px;
}

.player-buttons {
    height: 50%;
    color: var(--text-white);
    justify-content: center;
    align-items: center;
}

.center-footer i {
    padding: 0 10px;
    font-size: 1.4rem;
}

.center-footer i.play-button {
    font-size: 2rem;
    transition: all 0.3s linear;
}



.right-footer {
    color: white;
    align-items: center;
}

.right-footer i {
    margin: 0px 10px;
}
.player-bar span{
    width: 10%;
    text-align: center;
    color: var(--text-white);
}

.player-bar.flex {
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 20px;
}

.bar-container{
    width: 80%;
}

.media-bar {
    height: 10px;
    background-color: var(--media-bar-color);
    border-radius: 7px;
}

.media-value {
    height: 10px;
    width: 20%;
    border-radius: 7px;
    background-color: var(--icon-color);
    position: relative;
}

.media-interaction {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: silver;
    position: absolute;
    right: 0;
    top: -5px;
}

.volume-container{
    width: 50%;
    display: none;
}

.media-bar:hover .media-value{
    background-color: yellowgreen;
}

                /* animation */

.center-footer i.play-button:hover {
    transform: scale(1.3);
}
                                        /* overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    color: var(--text-white);
    font-size: 3rem;
    display: none;
}

.wrapper-overlay:hover .overlay,.wrapper-overlay:hover .overlay-rounded{
    display: inline-block;
}

.wrapper-overlay {
    position: relative;
}

.wrapper-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-rounded {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    color: var(--text-white);
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    border-radius: 50%;
    display: none;
}

#main-nav ul li a:hover, #small-app-icon .icon-name:hover, #user .icon-name:hover, #playlist-nav ul li:hover{
    color: var(--text-white);
}
                         /* media query */

@media screen and (min-width: 576px) {
    #sidebar{
        width: 200px;
        text-align: left;
    }
    
    #sidebar-top{
        height: calc(100% - 90px);
    }

    #sidebar-top .small-logo{
        display: none;
    }
    
    #sidebar-top .big-logo, .icon-name, #sidebar-bottom hr{
        display: inline-block;
    }

    #playlist-nav ul{
        overflow-y: scroll;
    }
    
    #playlist-nav, #sidebar-top{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #main-container{
        width: calc(100% - 200px);
    }
    
    #cta{
        width: calc(100% - 200px);
    }


    #main-nav ul li{
        width: calc(100% / 3);
    }

    .volume-container{
        display: block;
    }
}


@media screen and (min-width: 768px) {
    .box-albums{
        width: 25%;
    }

    #main-nav ul li{
        width: calc(100% / 5);
    }

}

@media screen and (min-width:768px) and (max-width:800px){
      .center-footer i {
        padding: 0 5px;
    }
}

@media screen and (min-width: 992px) {
    .box-albums{
        width: calc(100% / 6);
    }

    #main-nav ul li{
        width: calc(100% / 6);
    }
}


@media screen and (min-width: 1200px) {
    
}